LIVEKIT_URL=wss://your-livekit-project.livekit.cloud
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
GRADIUM_API_KEY=
GRADIUM_STT_ENDPOINT=wss://api.gradium.ai/api/speech/asr
GRADIUM_TTS_ENDPOINT=wss://api.gradium.ai/api/speech/tts
AICOUSTICS_ENHANCEMENT_LEVEL=0.8
